In [ ]:
#1

In [ ]:
# Q1

In [80]:
dict1 = {'Amy':'Bob', 'Bob':'Cat', 'Cat':'David', 'David':'Emily'}

In [89]:
def longestpath(dict):

  from string import ascii_letters as letters
  count = 0
  x=[]
  y=[]
  adc = list(letters)
  for i in dict.keys():
          x.append(i[0])
  for j in dict.values():
          y.append(j[0])
  print(x)
  print(y)
  for i in x:
      for j in y:
          if j == adc[adc.index(i)+1]:
              count+=1
          else:
              count+=0
          
  print('Output:',count)

In [90]:
longestpath(dict1)

['A', 'B', 'C', 'D']
['B', 'C', 'D', 'E']
Output: 4

In [ ]:
#Problem 2

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,confusion_matrix, precision_score, recall_score, f1_score, accuracy_score
from sklearn import tree

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

import warnings
warnings.filterwarnings("ignore")

In [ ]:
#1

In [2]:
df=pd.read_csv('/content/heart.csv')

In [3]:
df.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [4]:
#2
df.shape

(303, 14)

In [ ]:
#3

In [5]:
df['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

In [6]:
#4
(100*(df['target']==1).sum()/len(df)).round(2)

54.46

In [7]:
#5
df.groupby('target').mean()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
target,,,,,,,,,,,,,
0,56.601449,0.826087,0.478261,134.398551,251.086957,0.159420,0.449275,139.101449,0.550725,1.585507,1.166667,1.166667,2.543478
1,52.496970,0.563636,1.375758,129.303030,242.230303,0.139394,0.593939,158.466667,0.139394,0.583030,1.593939,0.363636,2.121212

In [50]:
#6
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

encoder=OneHotEncoder(sparse=False)


cp = pd.DataFrame (encoder.fit_transform(df[['cp']]))
thal = pd.DataFrame (encoder.fit_transform(df[['thal']]))
slope = pd.DataFrame (encoder.fit_transform(df[['slope']]))



df2 = pd.concat([df, cp,thal,slope ], axis=1)

df2.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,...,1,2,3,0,1,2,3,0,1,2
0,63,1,3,145,233,1,0,150,0,2.3,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,37,1,2,130,250,0,1,187,0,3.5,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
2,41,0,1,130,204,0,0,172,0,1.4,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,56,1,1,120,236,0,1,178,0,0.8,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,57,0,0,120,354,0,1,163,1,0.6,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [31]:

#7
df2.drop(['cp'] ,axis=1, inplace=True)
df2.drop(['thal'] ,axis=1, inplace=True)
df2.drop(['slope'] ,axis=1, inplace=True)
df2.shape

(303, 22)

In [9]:
#8
a = df2.drop(['target'] ,axis=1)

X = a
y = df2['target']


X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
#9
from sklearn.preprocessing import MinMaxScaler

sc = MinMaxScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [11]:
#10
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [12]:
y_pred = model.predict(X_test)

In [19]:
result1 = accuracy_score(y_test, y_pred)
print('Accuracy is: ', (result1*100).round(2))

Accuracy is:  86.89

In [26]:
#11
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [27]:
y_pred2 = knn.predict(X_test)

In [29]:
result2 = accuracy_score(y_test, y_pred2)
print('Accuracy is: ', (result2*100).round(2))

Accuracy is:  80.33